/*standard size mobile 380 * 568 */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200&family=Oxygen:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

body {
  display: grid;
  grid-template-rows: 150px 1fr;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.st-raw-logo {
  position: fixed;
  width: 70px;
  margin-top: 30px;
  margin-left: 10px;
  z-index: 5;
}

.logo-nav-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  background: #fff;
}
.logo-nav-wrapper.header-shrink {
  padding: 1px 0;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #f2ede4;
  height: 200px;
  width: 100%;
}

.header-name {
  font-size: 25px;
  font-weight: bold;
  color: #252222;
  text-align: center;
  padding-top: 30px;
}

.header-second {
  grid-column: 2/2;
}

/*added design to ul because its the only one. doesnt affect other elements*/
ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 15px;
}

.quick-links-header {
  font-weight: bold;
  padding-bottom: 5px;
}

.header-second a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: 0.4s ease;
}

.header-second a:hover {
  color: #271919;
}

.header-second a:hover:after {
  width: 100%;
}
.header-second a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  right: 0;
  width: 0;
  height: 2px;
  background: #201c1c;
  transition: width 0.4s step-end;
}

/*all-content-display*/
.product-section-all-content {
  display: grid;
  grid-template-rows:
    200px
    1fr;
  background: #fff;
}

/*cart-items-details*/
table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-collapse: collapse;
}

.cart-info {
  overflow-x: auto;
}

h2 {
  font-size: 12px;
}

th {
  text-align: left;
  padding: 8px;
  color: #aaaaaa;
  font-weight: normal;
  border-bottom: 0.5px solid#aaaaaa;
  padding-bottom: 20px;
}

td {
  padding: 30px 15px;
}

.main-table {
  border-bottom: 0.5px solid #aaaaaa;
}

td input {
  width: 30px;
  height: 30px;
}

.table-data-final {
  border-bottom: 0;
}
td .remove-button {
  color: #141212;
  font-size: 12px;
  transition-duration: 0.4s;
}

td .remove-button:hover {
  color: #a11e12;
  font-size: 12px;
}

td img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.total-price {
  display: flex;
}

.total-price table {
  width: 100%;
  max-width: 200px;
  border-bottom: 0.5px solid #aaaaaa;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.product-image {
  width: 100px;
  margin-top: 20px;
}

.checkout-button {
  background-color: #242524;
  border: none;
  color: #fff;
  width: 120px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  place-self: center;
}

.button1 {
  background-color: rgb(15, 15, 13);
  color: fff;
}

.button1:hover {
  background-color: rgb(204, 190, 45);
  color: white;
}

.spacing {
  margin-bottom: 200px;
  display: grid;
  grid-template-rows: 1fr;
}

footer {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2ede4;
  display: grid;
  place-items: center;
  z-index: -1;
}
footer img {
  width: 60%;
  height: 60%;
}
